<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>추천/비추천 취소창</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<div class="form-container">
    <h1>추천/비추천 취소</h1>
    <form th:action="@{/emp/canComment}" th:object="${canComment}" method="post">
        <div>
            <label for="number">취소할 글번호를 입력하세요</label>
            <input type="text" id="number" th:field="*{number}" />
        </div>
        <div>
            <button type="submit">확인</button>
        </div>
    </form>
    <form th:action="@{/emp/myComment}">
        <div>
            <button type="submit">돌아가기</button>
        </div>
    </form>
</div>
</body>
</html>