<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>작성한 댓글</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        form {
        display: inline-block; /* 각 form 요소를 한 줄에 표시 */
        margin-right: 10px; /* 버튼 간 간격 조정 */
    }
        .header-title {
        font-size : 30px;
        color : #010007;
        margin-bottom : 20px;
    </style>
</head>
<body class="myCommentcontainer">
<div class="form-container">
    <h1 class = header-title>작성한 댓글</h1>
    <hr>
    <div th:each="my : ${myComment}">
        <div>
            <strong><span th:text="${my.commentNo + ' - '}"></span>
                <span th:text="${my.nutrientsName}"></span></strong>
            <span th:text="${' : ' + my.content + '   '}"></span><br>
            <span th:text="${'좋아요 : ' + my.good +' / '}"></span>
            <span th:text="${'싫어요 : ' + my.bad}"></span><br>
        </div>
        <hr> <!-- Horizontal line after each set of comments -->
    </div>

    <form th:action="@{/emp/modComment}">
        <button type="submit">수정하기</button>
    </form>
    <form th:action="@{/emp/delComment}">
        <button type="submit">댓글삭제</button>
    </form>

    <h1 class = header-title>추천한 댓글</h1>
    <hr>
    <div th:each="myGood : ${myGoodComment}">
        <div>
            <strong><span th:text="${myGood.commentNo + ' - '}"></span>
            <span th:text="${myGood.nutrientsName + ' / '}"></span>
            <span th:text="${myGood.userNick + ' (' + myGood.userId + ')'}"></span></strong>
            <span th:text="${' : ' + myGood.content}"></span><br>
            <span th:text="${'좋아요 : ' + myGood.good +' / '}"></span>
            <span th:text="${'싫어요 : ' + myGood.bad}"></span><br>
        </div>
        <hr> <!-- Horizontal line after each set of comments -->
    </div>

    <h1 class = header-title>비추천한 댓글</h1>
    <hr>
    <div th:each="myBad : ${myBadComment}">
        <div>
            <strong><span th:text="${myBad.commentNo + ' - '}"></span>
            <span th:text="${myBad.nutrientsName + ' / '}"></span>
            <span th:text="${myBad.userNick + ' (' + myBad.userId + ')'}"></span></strong>
            <span th:text="${' : ' + myBad.content}"></span><br>
            <span th:text="${'좋아요 : ' + myBad.good +' / '}"></span>
            <span th:text="${'싫어요 : ' + myBad.bad}"></span><br>
        </div>
        <hr> <!-- Horizontal line after each set of comments -->
    </div>


    <form th:action="@{/emp/canComment}">
        <div>
            <button type="submit">추천/비추천 취소</button>
        </div>
    </form>
    <form th:action="@{/emp/main}">
        <button type="submit">돌아가기</button>
    </form>
</div>
</body>
</html>
