<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<div class="form-container">
    <h1>회원가입</h1>
    <form th:action="@{/emp/regist}" th:object="${regmembers}" method="post">
        <div>
            <input type="text" id="name" th:field="*{name}" placeholder="이름"/>
        </div>
        <div>
            <input type="text" id="jumin" th:field="*{jumin}" placeholder="주민등록번호"/>
        </div>
        <div>
            <input type="text" id="id" th:field="*{id}" placeholder="아이디"/>
        </div>
        <div>
            <input type="text" id="pw" th:field="*{pw}" placeholder="비밀번호"/>
        </div>
        <div>
            <input type="text" id="nick" th:field="*{nick}" placeholder="닉네임"/>
        </div>
        <div>
            <button type="submit">등록</button>
        </div>
    </form>
    <form th:action="@{/emp/start}">
        <div>
            <button type="submit">뒤로가기</button>
        </div>
    </form>

</div>
</body>
</html>