/* 전체 테이블 스타일 */
table {
    border-collapse: collapse; /* 테이블 셀 경계를 겹치도록 설정 */
    width: 100%; /* 테이블이 부모 요소의 전체 너비를 차지하도록 설정 */
}

/* 테이블 헤더와 셀 스타일 */
th, td {
    border: 1px solid #ccc; /* 테두리 스타일 지정 */
    padding: 8px; /* 셀 내부 여백 지정 */
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
}

/* 셀 배경색 */
td {
    background-color: beige;
}

/* 테이블 헤더 스타일 */
thead {
    background-color: cornflowerblue; /* 배경색 지정 */
    color: white; /* 텍스트 색상 지정 */
}

/* 폼 컨테이너 스타일 */
.form-container {
    max-width: 400px; /* 최대 너비 설정 */
    margin: 20px auto; /* 수직 중앙 정렬을 위한 마진 설정 */
    padding: 20px; /* 안쪽 여백 지정 */
    background-color: #f7f7f7; /* 배경색 설정 */
    border: 1px solid #ddd; /* 테두리 설정 */
    border-radius: 5px; /* 테두리 반경 설정 */
}

/* 수평 목록 스타일 */
.horizontal-list li {
    display: inline-block; /* 인라인 블록 요소로 배치 */
    margin-right: 10px; /* 오른쪽 여백 지정 */
}

/* 레이블 스타일 */
label {
    display: block; /* 블록 요소로 설정하여 줄 바꿈되도록 함 */
    margin-bottom: 5px; /* 아래쪽 여백 지정 */
}

/* 입력 필드 스타일 */
input[type="text"],
input[type="date"] {
    width: 100%; /* 최대 너비 설정 */
    padding: 10px; /* 안쪽 여백 지정 */
    margin-bottom: 15px; /* 아래쪽 여백 지정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 3px; /* 테두리 반경 설정 */
}

/* 제출 버튼 스타일 */
button[type="submit"] {
    background-color: #007bff; /* 배경색 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    padding: 10px 20px; /* 안쪽 여백 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 3px; /* 테두리 반경 설정 */
    cursor: pointer; /* 커서 모양 변경 */
}

button[type="submit"] {
    background-color: #007bff; /* 배경색 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    padding: 10px 20px; /* 안쪽 여백 설정 */
    margin-right: 10px; /* 오른쪽 여백 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 3px; /* 테두리 반경 설정 */
    cursor: pointer; /* 커서 모양 변경 */
}

/* 제출 버튼 호버 효과 */
button[type="submit"]:hover {
    background-color: #0056b3; /* 호버시 배경색 변경 */
}

/* 배경 이미지 컨테이너 스타일 */
.container {
    background-image: url('../images/bg.jpg'); /* 배경 이미지 경로 설정 */
    background-size: cover; /* 이미지가 화면에 맞게 확대/축소되도록 설정 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-attachment: fixed; /* 스크롤 시 배경 이미지가 고정됨 */
    min-height: 100vh; /* 최소 높이 설정 */
    display: flex; /* 컨테이너 내부의 자식 요소를 행렬로 배치 */
    align-items: center; /* 수직 정렬 */
    justify-content: center; /* 수평 정렬 */
}